* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    background-color: #A9D7BB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Garante que o body ocupe 100% da largura */
    padding: 0 10px; /* Adicionar pequeno espaçamento nas laterais */
    overflow-x: hidden; /* Impede rolagem horizontal */
    overflow-y: auto; /* Garante que o conteúdo seja rolável se necessário */
}

.username {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.username:hover {
    text-decoration: underline;
}

.titulo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #FFFFFF;
    width: 100%; /* Garantir que o título ocupe toda a largura */
}

.container {
    text-align: center;
    background-color: #A9D7BB;
    padding: 20px;
    border-radius: 40px;
    width: 100%;
    max-width: 500px; /* Limite máximo de largura */
    margin: 0 auto; /* Centraliza o container */
    overflow: hidden; /* Garante que nada saia fora da área do container */
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 60%;
    margin-bottom: 20px;
    animation: spinOnce 1s ease-in-out;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    color: #FFFFFF;
    margin: 10px 0;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.link {
    margin: 4px;
    text-decoration: none;
    color: #DB7861;
    background-color: #DAD5AD;
    padding: 20px 30px;
    border: 2px solid #000000;
    border-radius: 60px;
    transition: transform 0.2s ease, background-color 0.3s ease;
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 8px 2px #000000;
    display: inline-block;
    width: 100%;
    max-width: 400px; /* Limite máximo para as links */
}

.link:hover {
    transform: translateY(-5px);
    background-color: #C5BE98;
}

.link:active {
    transform: translateY(2px);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    color: white;
    font-size: 30px;
    transition: transform 0.2s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.social-icons i {
    animation: spin 1s ease-in-out;
}

.social-icons img {
    animation: spin 1s ease-in-out;
}

@keyframes spinOnce {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
